<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>All Users</title>
</head>
<body>
<h3>All users</h3>

<br>
<table border="1px" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>UserName</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${userList}">
        <td><a th:href="@{'/editUser/' + ${user.id}}" th:text="${user.userName}"></a></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td><a th:href="@{'/deleteUser/' + ${user.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{'/addUser'}">Add User</a>
</body>
</html>
