<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AllAuto</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>Model</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td>
            <a th:href="@{/cars/{id}(id=${car.getId()})}" th:text="${car.getCarModel()}">user</a>
        </td>
        <td>
            <a th:text="${car.getCarCountry()}">user</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
